* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-image: url("/assets/img/4-seasons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ebebeb;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.bodyClass {
  transition-duration: 2s;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.section {
  background-size: cover;
  background-color: var(--bg-black);
  height: 100vh;
  max-height: 230px;
  width: 100%;
  max-width: 690px;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
  border-radius: 30px;
  transition: all 1s;
}

.section-city-finded {
  opacity: 0.9;
}

.section-city-finded2 {
  max-height: 330px;
}

.section-city-finded:hover {
  opacity: unset;
}

@media screen and (max-width: 768px) {
  .section {
    max-height: 205px;
    margin-top: 9px;
    width: 95%;
    padding: 21px 0;
  }

  .content2 {
    margin-top: -35px !important;
    transition: margin 1s;
  }

  .searchBox {
    width: 70vw !important;
    max-width: 450px !important;
  }

  .app {
    align-items: flex-start;
  }
}

.content h3 {
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.searchBox {
  width: 600px;
  height: 30px;
  max-width: 100%;
  border-radius: 6px;
  background-color: #2b2f30;
  outline: 0;
  box-shadow: 0px 0px 4px 1px #fff;
  transition: all 0.5s;
  color: #fff;
  text-indent: 7px;
  font-weight: bold;
  font-size: var(--font-size);
  text-transform: uppercase;
}

.searchBox::placeholder {
  text-transform: none;
  font-weight: normal;
  color: #a5a5a5;
}

.searchBox:hover {
  background-color: var(--black);
}

.searchBox:focus {
  background-color: var(--black);
}

.cityDetail {
  margin-top: 30px;
  font-size: var(--font-size);
}

.fa-microphone {
  margin-left: 15px;
  transform: scale(1.4);
  transition: transform 0.6s;
  cursor: pointer;
}

.speechEnd {
  transform: scale(1.4);
}

.speechStart {
  transform: scale(1.8);
  color: var(--red);
}

.cityNotFound {
  font-weight: bold;
  color: var(--red);
}
