.customCheckbox {
  position: absolute;
  width: 48px;
  height: 27px;
  align-self: flex-start;
}

.changeDegreeSection div {
  height: 28px;
}

.checkboxSection:first-of-type {
  margin-bottom: 20px;
}

.checkboxSection {
  margin-top: 10px;
  margin-bottom: 50px;
}

.checkboxContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.checkboxContainer .checkboxSection {
  display: flex;
  filter: var(--drop-shadow);
  justify-content: flex-end;
}

.checkboxSection p {
  margin-right: 65px;
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
  color: #e4e4e4;
}

.changeDegreeSection p {
  font-size: 15px;
  font-weight: bold;
}

.checkboxSection p:first-of-type {
  position: absolute;
}

.inputCheckbox {
  display: none;
}

.inputCheckbox:checked + label:after {
  color: #fff;
  left: 21px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-weight: bold;
  background: #023364;
}

.inputCheckbox:checked + label.checkbox-speech-recognition:after {
  content: 'Off';
}
.inputCheckbox:checked + label.checkbox-unit-degree:after {
  content: '°F';
}

.inputCheckbox:checked + label:active:after {
  left: 15.7px;
}
.inputCheckbox:disabled + label {
  background: #d5d5d5;
  pointer-events: none;
}
.inputCheckbox:disabled + label:after {
  background: #bcbdbc;
}

.labelCheckbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.57, 0.8, 0.47, 0.38);
  -webkit-tap-highlight-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 3px 1px #fefefe inset;
}
.labelCheckbox::after {
  position: absolute;
  font-size: 0.7em;
  font-weight: bold;
  left: 1.1px;
  top: 0.9px;
  display: block;
  width: 25.1px;
  height: 25.1px;
  border-radius: 100%;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background: #023364;
  transition: width 0.3s ease, left 0.3s ease;
  filter: drop-shadow(0px 0px 2px black);
}

.checkbox-speech-recognition::after {
  content: 'On';
}

.checkbox-unit-degree::after {
  content: '°C';
}

.changeDegreeSection .labelCheckbox:after {
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
}

.labelCheckbox:active:after {
  width: 28.5px;
}
