@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  background-image: url('../assets/img/home-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ebebeb;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  transition-duration: 1s;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.section {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
  transition: all 1s;
  max-height: 240px;
  width: 95%;
  padding: 21px 0;
  margin-top: -8px;
}

@media screen and (max-width: 330px) {
  #installButton {
    padding: 7px 5px !important;
  }

  .installSection p {
    font-size: 9px !important;
  }
}

@media screen and (min-width: 768px) {
  .cityResultContainer .cityResultOtherInfo > div {
    width: unset !important;
  }

  .cityResultInfoMain {
    width: 70% !important;
  }

  .installSection p {
    font-size: 12px !important;
  }

  .checkboxSection:first-of-type {
    margin-bottom: 30px;
  }

  #installButton:hover {
    background: #0d7221e3;
  }

  .searchSection i {
    font-size: 20px;
  }

  .searchSection i:hover {
    color: var(--red);
  }
}

@media screen and (min-width: 1024px) {
  .searchContainer {
    width: 40vw !important;
  }
}

.searchSection i {
  transition: 1s;
  transition-property: transform, color;
  flex-basis: 30px;
}

.ghostInstallSection {
  display: block;
}

.cityResultContainer .cityResultOtherInfo > div > div {
  white-space: pre;
}

.displayNone {
  display: none !important;
}

.content {
  display: flex;
  flex-direction: column;
}

.searchSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.search-input {
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
  outline: 0;
  transition: all 0.5s;
  color: #fff;
  text-indent: 7px;
  font-weight: bold;
  font-size: var(--font-size);
  text-transform: uppercase;
  border: 1px solid #e3e3e396;
  filter: var(--drop-shadow);
  width: 100%;
  margin-right: 20px;
  margin-top: 5px;
}

.black {
  color: #000 !important;
}

.white {
  color: #e4e4e4 !important;
}

.search-input::placeholder {
  text-transform: none;
  font-weight: normal;
  color: #e4e4e4;
  font-style: italic;
}

.search-input:focus {
  background-color: transparent;
  box-shadow: 0px 0px 8px #ffffffb5;
}

.cityResultContainer .cityResultSection {
  margin-top: 10px;
  font-size: var(--font-size);
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #000;
  height: 230px;
  border-radius: 20px;
  max-width: 605px;
  backdrop-filter: blur(20px);
  display: none;
  transition: all 1s;
  box-shadow: 0px 0px 3px 1px #fefefe inset;
}

.cityResultSectionDisplay {
  display: flex !important;
  width: 100%;
}

.cityResultContainer {
  display: flex;
  justify-content: center;
}

.cityResultInfoMain {
  width: 50vw;
}

.installSection {
  padding: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 3px 1px #fefefe;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
}

.currentUnitDegree {
  color: #14d832;
  background: #0000002b;
  box-shadow: 0px 0px 2px 0.1px #fefefe;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.5s;
}

/* https://codepen.io/EastingAndNorthing/pen/aNWrZz */

#spinner {
  display: none;
  margin-top: 100px;
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #909aa5;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  position: absolute;
  z-index: 1;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}

#installButton {
  padding: 7px 14px;
  background: #0c9027e3;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.5s;
  margin-right: 15px;
  width: 110px;
}

#installButton i {
  margin-left: -3px;
  margin-right: 8px;
  margin-top: 1px;
}

.installSection p {
  font-size: 10px;
  font-style: italic;
  margin: 0 20px;
  font-weight: bold;
}
.searchContainer {
  width: 80vw;
  padding: 25px 25px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 3px 1px #fefefe;
  border-radius: var(--border-radius);
}

.cityResultContainer .cityResultOtherInfo > div {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
}

.cityResultContainer .cityResultOtherInfo div i {
  font-size: 22px;
  margin-right: 30px;
  font-weight: bold;
}

.visible-off {
  display: none !important;
}

.visible {
  display: block !important;
}
.visibility-hidden {
  box-shadow: unset !important;
}

.cityResultContainer .cityResultSection .cityTemp {
  font-size: 45px;
  margin-left: 5px;
}

.fa-microphone {
  margin-left: 15px;
  transform: scale(1.4);
  transition: transform 0.6s;
  cursor: pointer;
  filter: var(--drop-shadow);
}

.speechEnd {
  transform: scale(1.4);
}

.speechStart {
  transform: scale(1.8);
  color: var(--red);
}

.cityNotFound {
  font-weight: bold;
  color: #fff;
}
